@charset "UTF-8";
/* CSS Document */


body {
    margin:0;
    padding: 0;
    font: 13px/18px  Arial, Helvetica, sans-serif;
    color: #ccc;
}

#ebd_holder a {color: #ffc; text-decoration: underline; cursor: pointer }
#ebd_holder a:hover {color: #ffc; text-decoration:none; }

.ebd_fs10 { font-size:10px; }
.ebd_fs11 { font-size:11px; }
.ebd_fs12 { font-size:12px; }
.ebd_fs13 { font-size:13px; }
.ebd_fs14 { font-size:14px; }
.ebd_fs15 { font-size:15px; }
.ebd_fs16 { font-size:16px; }
.ebd_fs18 { font-size:18px; }
.ebd_fs20 { font-size:20px; }
.ebd_fs24 { font-size:24px; }

.ebd_normal { font-weight:normal}

input.ebd_button {
    display:inline-block;
    padding: 6px 20px;
    text-align:center;
    font-size: 14px;
    font-weight:bold;
    color: #fff;
    width: 456px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    line-height:18px;
    margin-right: 5px;
    text-shadow: #a00 1px 1px 0;
    border: 1px solid #c00;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f30', endColorstr='#c00'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#f30), to(#c00)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #f30,  #c00); /* for firefox 3.6+ */
    overflow:hidden;
    cursor: pointer;
}

input.ebd_closeButton {
    padding: 3px 7px;
    text-align:center;
    font-size: 14px;
    font-weight:bold;
    color: #fff;
    width: auto;
    border-radius: 6px;
    -moz-border-radius: 6px;
    line-height:18px;
    margin-right: 5px;
    text-shadow: #a00 1px 1px 0;
    border: 1px solid #c00;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f30', endColorstr='#c00'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#f30), to(#c00)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #f30,  #c00); /* for firefox 3.6+ */
    overflow:hidden;
    cursor: pointer;
}


#ebd_holder {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 526px;
    margin-left: -263px;
    margin-top: -195px;
}
#ebd_embedHolder {
    width: 100%;
    float:left;
    position: relative;
    top: 4px;
    left: 0;
    height: 390px;
    z-index: 20;
}
a#ebd_shareButton {
    float:left;
    position: relative;
    top: 0;
    left: 200px;
    padding: 5px 10px 0 10px;
    width: auto;
    white-space: nowrap;
    font-size: 13px;
    font-weight:bold;
    color: #fff;
    background: #c00;
    text-shadow: #800 1px 1px 1px;
    text-decoration:none;
    height: 20px;
}
a#ebd_shareButton:hover {
    color: #ffc;
}

#ebd_contentHolder {
    clear:both;
    margin-left: auto;
    margin-right: auto;
    width: 526px;
    margin-top:40px;
}

#ebd_contentHolderInner {
    float:left;
    width: 496px;
    height: 311px;
    background:url(transparent-black-bg.png) top left no-repeat;
    padding: 20px 15px;

}

#ebd_contentHolderInner h2 {
    text-align:center;
    color: #fff;
    font-size:18px;
    margin: 0;
    padding: 10px 0 30px 0;
    font-weight:bold;
}

#ebd_contentHolderInner h1 {
    text-align:center;
    color: #fff;
    font-size:24px;
    margin: 0;
    padding: 5px 0 10px 0;
    font-weight:bold;
}


#ebd_contentHolderInner .ebd_Close {
    position:relative;
    float:right;
    top: -60px;
}

#ebd_contentHolderInner h2.ebd_bottom {
    padding:45px 0 10px 0;
}
#ebd_contentHolderInner h3 {
    text-align:center;
    color: #fff;
    font-size:16px;
    margin: 0;
    padding: 0 0 10px 0;
    font-weight:bold;
}

#ebd_contentHolderInner p {
    clear:both;
    text-align:center;
    margin: 0;
    padding: 0 0 25px 0;
    font-weight:bold;
}

.ebd_roundedGray {
    float:left;
    clear:both;
    border-radius: 8px;
    -moz-border-radius: 8px;
    overflow: hidden;
    margin: 0 0 0 4px;
    padding: 12px;
    width: 466px;
    background: #f7f7f7;
    padding: 15px;
    color: #333 !important;
    margin-top: -10px;
    text-align: left !important;
}
.ebd_roundedGray p {
    text-align: left !important;
    clear:both;
}

#ebd_iframe {
    position: relative;
    top: -390px;
    left: 0;
    z-index: 1;
    float:left;
    width: 860px;
    border: 4px solid #ddd;
}
#ebd_tour {
    position: relative;
    top: 0;
    left: 0;
}

label {
    float:left;
    width:auto;
    white-space: nowrap;
    padding: 8px 8px 0 0;
    font-weight:bold;
}

.ebd_Fields {
    float:left;
    padding: 2px;
    line-height: 18px;
    font-size: 12px;
    color: #888;
    width: 420px;
    border: 3px solid #e5e5e5;
    -moz-box-shadow:inset 0 0 1px #000;
    -webkit-box-shadow:inset 0 0 1px #000;
    box-shadow:inset 0 0 1px #000;
}

@media (max-width:1265px) {
    #social_bar {
        padding: 5px;
        line-height: 12px;
        bottom: 65px;
        z-index: 99;
        left: 22px;
        width: 132px;
        height: 20px;
        position: absolute;
        top: 0px;
        background-color: #FFFFFF;
        opacity:0.90;
        filter:alpha(opacity=90); /* For IE8 and earlier */
        -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;
    }
}

@media (min-width:1265px) {
    #social_bar {padding: 5px;right:45%;text-align:center;background-color: #FFFFFF; vertical-align:middle;width:132px;position:absolute;-webkit-border-bottom-right-radius: 10px;-webkit-border-bottom-left-radius: 10px;-moz-border-radius-bottomright: 10px;-moz-border-radius-bottomleft: 10px;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;
                top:0px; z-index: 99;-moz-opacity: 0.90;-khtml-opacity: 0.90;opacity: 0.90;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=74);filter: progid:DXImageTransform.Microsoft.Alpha(opacity=74);filter:alpha(opacity=74)";
 }
}

.twitter-share-button{
    width: 56px !important;
height: 20px;
}
